{% extends "student/base.html" %}
{% block content %}
<section class="gray-bg">
    <div class="container">
        <!--SECTION HEADER START-->
        <div class="sec-header">
            <h2>Departments & Courses</h2>
            <p>Check Our Featured Courses</p>
        </div>
        <!--SECTION HEADER END-->
        <div class="customNavigation">
            <a class="btn prev"><i class="fa fa-angle-left"></i></a>
            <a class="btn next"><i class="fa fa-angle-right"></i></a>
        </div>
        <div id="owl-carousel" class="owl-carousel owl-theme">
            <!--COURSE ITEM START-->

            <div class="course">

                <div class="thumb">

                    <a href=""><img src="https://fisat.ac.in/files/menuboxes/5958312894.jpg" alt=""></a>

                    </div>

                <div class="text">

                    <div class="header">

                        <h4>B.Tech in Electronics & Communication Engineering</h4></div>

<div class="course-detail-btn"><a href="http://fisat.ac.in/department/electronics-communication-engineering/introduction" class="blue_Box">+ More info </a>
                        <a href="http://fisat.ac.in/department/electronics-communication-engineering/faculty">+ Faculty</a></div>

                </div>

            </div>

            <!--COURSE ITEM END--><!--COURSE ITEM START-->

            <div class="course">

                <div class="thumb">

                    <a href="http://fisat.ac.in/department/civil-engineering/introduction"><img src="https://fisat.ac.in/files/menuboxes/9486089483.jpg" alt=""></a>

                    </div>

                <div class="text">

                    <div class="header">

                        <h4>B.Tech in Civil Engineering</h4></div>

<div class="course-detail-btn"><a href="http://fisat.ac.in/department/civil-engineering/introduction" class="blue_Box">+ More info </a>
                        <a href="http://fisat.ac.in/department/civil-engineering/faculty">+ Faculty</a></div>

                </div>

            </div>

            <!--COURSE ITEM END--><!--COURSE ITEM START-->

            <div class="course">

                <div class="thumb">

                    <a href=""><img src="https://fisat.ac.in/files/menuboxes/8283251668.jpg" alt=""></a>

                    </div>

                <div class="text">

                    <div class="header">

                        <h4>B.Tech in Computer Science and  Engineering</h4></div>

<div class="course-detail-btn"><a href="http://fisat.ac.in/department/computer-science-engineering/introduction" class="blue_Box">+ More info </a>
                        <a href="http://fisat.ac.in/department/computer-science-engineering/faculty">+ Faculty</a></div>

                </div>

            </div>

            <!--COURSE ITEM END--><!--COURSE ITEM START-->

            <div class="course">

                <div class="thumb">

                    <a href=""><img src="https://fisat.ac.in/files/menuboxes/4952077101.jpg" alt=""></a>

                    </div>

                <div class="text">

                    <div class="header">

                        <h4>B.Tech in Mechanical Engineering</h4></div>

<div class="course-detail-btn"><a href="http://fisat.ac.in/department/mechanical-engineering/introduction" class="blue_Box">+ More info </a>
                        <a href="http://fisat.ac.in/department/mechanical-engineering/faculty">+ Faculty</a></div>

                </div>

            </div>

            <!--COURSE ITEM END--><!--COURSE ITEM START-->

            <div class="course">

                <div class="thumb">

                    <a href="http://fisat.ac.in/department/electrical-electronics-engineering/introduction"><img src="https://fisat.ac.in/files/menuboxes/12808227.jpg" alt=""></a>

                    </div>

                <div class="text">

                    <div class="header">

                        <h4>B.Tech in Electrical & Electronics Engineering</h4></div>

<div class="course-detail-btn"><a href="http://fisat.ac.in/department/electrical-electronics-engineering/introduction" class="blue_Box">+ More info </a>
                        <a href="http://fisat.ac.in/department/electrical-electronics-engineering/faculty">+ Faculty</a></div>

                </div>

            </div>

            <!--COURSE ITEM END--><!--COURSE ITEM START-->

            <div class="course">

                <div class="thumb">

                    <a href=""><img src="https://fisat.ac.in/files/menuboxes/4384370949.jpg" alt=""></a>

                    </div>

                <div class="text">

                    <div class="header">

                        <h4>B.Tech in Electronics & Instrumentation Engineering</h4></div>

<div class="course-detail-btn"><a href="http://fisat.ac.in/department/electronics-instrumentation-engineering/introduction" class="blue_Box">+ More info </a>
                        <a href="http://fisat.ac.in/department/electronics-instrumentation-engineering/faculty">+ Faculty</a></div>

                </div>

            </div>

            <!--COURSE ITEM END--><!--COURSE ITEM START-->

            <div class="course">

                <div class="thumb">

                    <a href=""><img src="https://fisat.ac.in/files/menuboxes/4732001516.jpg" alt=""></a>

                    </div>

                <div class="text">

                    <div class="header">

                        <h4>M.Tech in Communication Engineering</h4></div>

<div class="course-detail-btn"><a href="http://fisat.ac.in/department/electronics-communication-engineering/introduction" class="blue_Box">+ More info </a>
                        <a href="http://fisat.ac.in/department/electronics-communication-engineering/faculty">+ Faculty</a></div>

                </div>

            </div>

            <!--COURSE ITEM END--><!--COURSE ITEM START-->

            <div class="course">

                <div class="thumb">

                    <a href=""><img src="https://fisat.ac.in/files/menuboxes/9989824444.jpg" alt=""></a>

                    </div>

                <div class="text">

                    <div class="header">

                        <h4>M.Tech in Computer Science & Information Systems</h4></div>

<div class="course-detail-btn"><a href="http://fisat.ac.in/department/computer-science-engineering/introduction" class="blue_Box">+ More info </a>
                        <a href="http://fisat.ac.in/department/computer-science-engineering/faculty">+ Faculty</a></div>

                </div>

            </div>

            <!--COURSE ITEM END--><!--COURSE ITEM START-->

            <div class="course">

                <div class="thumb">

                    <a href=""><img src="https://fisat.ac.in/files/menuboxes/5931503125.jpg" alt=""></a>

                    </div>

                <div class="text">

                    <div class="header">

                        <h4>M.Tech in Power Electronics and Power Systems</h4></div>

<div class="course-detail-btn"><a href="http://fisat.ac.in/department/electrical-electronics-engineering/introduction" class="blue_Box">+ More info </a>
                        <a href="http://fisat.ac.in/department/electrical-electronics-engineering/faculty">+ Faculty</a></div>

                </div>

            </div>

            <!--COURSE ITEM END--><!--COURSE ITEM START-->

            <div class="course">

                <div class="thumb">

                    <a href=""><img src="https://fisat.ac.in/files/menuboxes/569248627.jpg" alt=""></a>

                    </div>

                <div class="text">

                    <div class="header">

                        <h4>M.Tech in Computer Integrated Manufacturing</h4></div>

<div class="course-detail-btn"><a href="http://fisat.ac.in/department/mechanical-engineering/introduction" class="blue_Box">+ More info </a>
                        <a href="http://fisat.ac.in/department/mechanical-engineering/faculty">+ Faculty</a></div>

                </div>

            </div>

            <!--COURSE ITEM END--><!--COURSE ITEM START-->

            <div class="course">

                <div class="thumb">

                    <a href=""><img src="https://fisat.ac.in/files/menuboxes/50257779.jpg" alt=""></a>

                    </div>

                <div class="text">

                    <div class="header">

                        <h4>M.Tech in VLSI & Embedded Systems</h4></div>

<div class="course-detail-btn"><a href="http://fisat.ac.in/department/electronics-communication-engineering/introduction" class="blue_Box">+ More info </a>
                        <a href="http://fisat.ac.in/department/electronics-communication-engineering/faculty">+ Faculty</a></div>

                </div>

            </div>

            <!--COURSE ITEM END--><!--COURSE ITEM START-->

            <div class="course">

                <div class="thumb">

                    <a href="http://fisat.ac.in/department/civil-engineering/introduction"><img src="https://fisat.ac.in/files/menuboxes/9120077947.jpg" alt=""></a>

                    </div>

                <div class="text">

                    <div class="header">

                        <h4>M.Tech in Structural Engineering & Construction Management</h4></div>

<div class="course-detail-btn"><a href="http://fisat.ac.in/department/civil-engineering/introduction" class="blue_Box">+ More info </a>
                        <a href="http://fisat.ac.in/department/civil-engineering/faculty">+ Faculty</a></div>

                </div>

            </div>

            <!--COURSE ITEM END--><!--COURSE ITEM START-->

            <div class="course">

                <div class="thumb">

                    <a href=""><img src="https://fisat.ac.in/files/menuboxes/8190501304.jpg" alt=""></a>

                    </div>

                <div class="text">

                    <div class="header">

                        <h4>Master of Business Administration</h4></div>

<div class="course-detail-btn"><a href="http://fisat.ac.in/department/business-administration/introduction" class="blue_Box">+ More info </a>
                        <a href="http://fisat.ac.in/department/business-administration/faculty">+ Faculty</a></div>

                </div>

            </div>

            <!--COURSE ITEM END--><!--COURSE ITEM START-->

            <div class="course">

                <div class="thumb">

                    <a href="http://fisat.ac.in/department/computer-applications/introduction"><img src="https://fisat.ac.in/files/menuboxes/1145974812.jpg" alt=""></a>

                    </div>

                <div class="text">

                    <div class="header">

                        <h4>Master of Computer Applications</h4></div>

<div class="course-detail-btn"><a href="http://fisat.ac.in/department/computer-applications/introduction" class="blue_Box">+ More info </a>
                        <a href="http://fisat.ac.in/department/computer-applications/faculty">+ Faculty</a></div>

                </div>

            </div>

            <!--COURSE ITEM END-->
        </div>
    </div>
</section>
{% endblock content %}